﻿@model RepairType

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (Model != null)
    {
        @Html.HiddenFor(model => model.Id)
    }

    <div>
        <fieldset>
            <legend>RepairType</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PricePerHour)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PricePerHour)
                @Html.ValidationMessageFor(model => model.PricePerHour)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    </div>
}