﻿@model RepairType

@{
    ViewBag.Title = "Delete";
}

@Html.Partial("_Heading")

@Html.Partial("_DeleteConfirmationMessage")

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.PricePerHour): @Html.DisplayFor(model => model.PricePerHour)</p>

@Html.Partial("_DeleteForm")