﻿@model IEnumerable<RepairType>

@{
    ViewBag.Title = "Repair types";
}

<h2>@Html.DisplayNameFor(model => model.Name) (@Model.Count())</h2>

@if (Model.Any())
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerHour)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, DefaultActionNames.Edit, new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerHour)
                </td>
            </tr>
        }

    </table>
}
else
{
    @Html.Partial("_EmptyResults")
}