﻿@model IEnumerable<Color>
@{
    ViewBag.Title = "Colors";
}

<h2>@Html.DisplayNameFor(model => model.Name) (@Model.Count())</h2>

@if (Model.Any())
{
    foreach (var entity in Model)
    {
        <p>@Html.ActionLink(entity.Name, DefaultActionNames.Edit, new { id = entity.Id })</p>
    }
}
else
{
    @Html.Partial("_EmptyResults")
}