﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - АЗЛК</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")

        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        @Html.ActionLink("АЗЛК", "Index", "Customer")
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_Login")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Customers", DefaultActionNames.Index, "Customer")</li>
                            <li>@Html.ActionLink("Repairs", DefaultActionNames.Index, "Repair")</li>
                            <li>@Html.ActionLink("Orders", DefaultActionNames.Index, "Order")</li>
                            <li>@Html.ActionLink("Employees", DefaultActionNames.Index, "Employee")</li>
                            <li>@Html.ActionLink("Vehicles", DefaultActionNames.Index, "Vehicle")</li>

                            @if (Request.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Admin", DefaultActionNames.Index, "Admin")</li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @if (ViewBag.SubMenu != null)
                {
                     @Html.Partial("_SubMenu", (IEnumerable<IMenuItem>)ViewBag.SubMenu)
                }
                
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - АЗЛК</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/vs")
        @RenderSection("scripts", required: false)
    </body>
</html>