﻿@{
    string formAction = DefaultActionNames.ListAjax;
    if (ViewBag.FormAction != null)
    {
        formAction = ViewBag.FormAction;
    }

    string autocompleteAction = DefaultActionNames.Autocomplete;
    if (ViewBag.AutocompleteAction != null)
    {
        autocompleteAction = ViewBag.AutocompleteAction;
    }
}

<div>
    <form method="get" action="@Url.Action(formAction)" data-vs-ajax="true" data-vs-target="#@Constants.ItemsListId">
        <input type="search" name="searchTerm" data-vs-autocomplete="@Url.Action(autocompleteAction)" value="" />
        <input type="submit" name="name" value="Search" />
    </form>
</div>