﻿@model IEnumerable<IMenuItem>

@if (Model.Any())
{
    <div class="subMenu clear-fix">
        <div class="float-right">
            <nav>
                <ul id="menu">
                    @foreach (var item in Model)
                    {
                        <li>
                            @Html.ActionLink(item.Text, item.ActionName, item.ControllerName, item.RouteValues, null)
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
}