﻿@model IPagedList<Country>

<div id="@Constants.ItemsListId">

    <h2>Countries: (@Model.TotalItemCount)</h2>

    @foreach (var item in Model)
    {
        var formatedName = String.Format("{0} ({1})", item.Name, item.Cities.Count);
        <p>@Html.ActionLink(formatedName, DefaultActionNames.Details, new { id = item.Id })</p>
    }

    @Html.Partial("_Pager", Model)
</div>
