﻿@model Country

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>

<h3>Cities in @Html.DisplayFor(model => model.Name) (@Model.Cities.Count)</h3>

@if (Model.Cities.Any())
{
    foreach (var city in Model.Cities)
    {
        <p>@Html.ActionLink(city.Name, DefaultActionNames.Edit, "City", new { id = city.Id }, null)</p>
    }
}