﻿@model ReplacementPartManufacturer

@{
    ViewBag.Title = "Details";
    int replacementPartsCount = Model.ReplacementParts.Count();
}

<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>

@if (replacementPartsCount > 0)
{
    <h3>Parts: (@replacementPartsCount)</h3>
    foreach (var item in Model.ReplacementParts)
    {
        <p>@Html.DisplayNameFor(modelItem => item.Name): @Html.DisplayFor(modelItem => item.Name)</p>
        <p>
            @Html.DisplayNameFor(modelItem => item.ReplacementPartCategory.Name): 
            @Html.DisplayFor(modelItem => item.ReplacementPartCategory.Name)
        </p>
    
        <hr />
    }
}