﻿@model IEnumerable<ReplacementPartManufacturer>

@{
    ViewBag.Title = "Replacement parts manufacturers";
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country.Name)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            var formatedName = String.Format("{0} ({1})", item.Name, item.ReplacementParts.Count);
            <tr>
                <td>
                    @Html.ActionLink(formatedName, "Details",  new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
            </tr>
        }

    </table>
}
else
{   
    @Html.Partial("_EmptyResults")
}