﻿@model Blueprints.DbModels.Order

@{
    ViewBag.Title = "Create order";
    int repairId = ViewBag.RepairId;
}

@Html.Partial("_Heading")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order</legend>

        @Html.Hidden("RepairId", repairId)

        <div class="editor-label">
            @Html.LabelFor(model => model.IsPaid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsPaid)
            @Html.ValidationMessageFor(model => model.IsPaid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdditionalPrice)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.AdditionalPrice)
            @Html.ValidationMessageFor(model => model.AdditionalPrice)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}