﻿@model Order

@{
    ViewBag.Title = "Delete";
}

@Html.Partial("_Heading")
@Html.Partial("_DeleteConfirmationMessage")

<div>
    <h3>Order: @Model.Id</h3>
    <p>
        @Html.DisplayNameFor(model => Model.IsPaid) @Html.DisplayFor(model => Model.IsPaid)
    </p>
    <p>
        @Html.DisplayNameFor(model => Model.PaidOn): @Html.DisplayFor(model => Model.PaidOn)
    </p>
    <p>
        @Html.DisplayNameFor(model => Model.AdditionalPrice): @Html.DisplayFor(model => Model.AdditionalPrice)
    </p>
    <p>
        @Html.DisplayNameFor(model => Model.Repair.LaborPrice): @Html.DisplayFor(model => Model.Repair.LaborPrice)
    </p>
    <p>
        @Html.DisplayNameFor(model => Model.Repair.ReplacementPartsSum): @Html.DisplayFor(model => Model.Repair.ReplacementPartsSum)
    </p>
    <p>
        @Html.DisplayNameFor(model => Model.TotalPrice): @Html.DisplayFor(model => Model.TotalPrice)
    </p>
</div>

@Html.Partial("_DeleteForm")