﻿@model Order

@{
    ViewBag.Title = "Edit";
}

@Html.Partial("_Heading")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RepairId)

        <div class="editor-label">
            @Html.LabelFor(model => model.AdditionalPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdditionalPrice)
            @Html.ValidationMessageFor(model => model.AdditionalPrice)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsPaid)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsPaid)
            @Html.ValidationMessageFor(model => model.IsPaid)
        </div>

        <p>
            @Html.DisplayNameFor(model => model.Repair.LaborPrice): (@Model.Repair.WorkingHours hours X @Model.Repair.RepairType.PricePerHour per hour)
            <b>@Html.DisplayFor(model => model.Repair.LaborPrice)</b>
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Repair.ReplacementPartsSum): @Html.DisplayFor(model => model.Repair.ReplacementPartsSum)
        </p>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}