﻿@model IEnumerable<Blueprints.DbModels.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>@ViewBag.Title: (@Model.Count())</h2>

@if (Model.Any())
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Repair.CustomerVehicle.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repair.CustomerVehicle.Vehicle.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repair.RepairType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidOn)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var routeValues = new { id = item.Id };
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Repair.CustomerVehicle.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repair.CustomerVehicle.Vehicle.Name)
                    @Html.DisplayFor(modelItem => item.Repair.CustomerVehicle.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repair.RepairType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.PaidOn)</b>
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Repair", new { id = item.Repair.Id }, null)
                    @if (item.IsPaid == false)
                    {
                        @Html.ActionLink("Delete", "Delete", routeValues)
                        @Html.ActionLink("Edit", "Edit", routeValues)
                    }
                </td>
            </tr>
        }

    </table>
}
else
{
    @Html.Partial("_EmptyResults")
}