﻿@model IEnumerable<ReplacementPart>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplacementPartCategory.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplacementPartManufacturer.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, DefaultActionNames.Details, new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink(item.ReplacementPartCategory.Name, "Details", "ReplacementPartCategory", new { id = item.ReplacementPartCategory.Id }, null)
            </td>
            <td>
                @Html.ActionLink(item.ReplacementPartManufacturer.Name, "Details", "ReplacementPartManufacturer", new { id = item.ReplacementPartManufacturer.Id }, null)
            </td>
        </tr>
    }

</table>