﻿@model ReplacementPart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ReplacementPart</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PartNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PartNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReplacementPartCategory.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReplacementPartCategory.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReplacementPartManufacturer.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReplacementPartManufacturer.Name)
    </div>
</fieldset>