﻿@model ReplacementPart

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ReplacementPart</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartNumber)
            @Html.ValidationMessageFor(model => model.PartNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReplacementPartCategoryId, "ReplacementPartCategory")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ReplacementPartCategoryId")
            @Html.ValidationMessageFor(model => model.ReplacementPartCategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReplacementPartManufacturerId, "ReplacementPartManufacturer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ReplacementPartManufacturerId")
            @Html.ValidationMessageFor(model => model.ReplacementPartManufacturerId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>