﻿@model IEnumerable<ReplacementPart>

@{
    ViewBag.Title = "Replacement Parts";
}

<h2>@ViewBag.Title (@Model.Count())</h2>

@if (Model.Any())
{
    @Html.Partial("_ReplacementParts", Model)
}
else
{
    @Html.Partial("_EmptyResults")
}