﻿@model ReplacementPartCategory

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>

<h3>Parts: (@Model.ReplacementParts.Count())</h3>

@if (Model.ReplacementParts.Any())
{
    foreach (var item in Model.ReplacementParts)
    {
        <p>@Html.DisplayNameFor(modelItem => item.Name): @Html.DisplayFor(modelItem => item.Name)</p>
        <p>@Html.DisplayNameFor(modelItem => item.ReplacementPartCategory.Name): @Html.DisplayFor(modelItem => item.ReplacementPartManufacturer.Name)</p>
        <hr />
    }
}