﻿@model IEnumerable<ReplacementPartCategory>

@{
    ViewBag.Title = "Replacement Part Categories";
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        string formatedName = String.Format("{0} ({1})", item.Name, item.ReplacementParts.Count);      
        <p>@Html.ActionLink(formatedName, DefaultActionNames.Details, new { id = item.Id })</p>
    }
}
else
{
    @Html.Partial("_EmptyResults")
}