﻿@model Employee

<div>
    <p>
        @Html.DisplayNameFor(model => model.FirstName): @Html.DisplayFor(model => model.FirstName)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.LastName): @Html.DisplayFor(model => model.LastName)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Salary): @Html.DisplayFor(model => model.Salary)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.City.Country.Name) : @Html.DisplayFor(model => model.City.Country.Name)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.City.Name): @Html.DisplayFor(model => model.City.Name)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Street):  @Html.DisplayFor(model => model.Street)
    </p>
</div>