﻿@model Employee

@{
    ViewBag.Title = "Create";
}

@Html.Partial("_Heading")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Customer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Salary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Salary)
            @Html.ValidationMessageFor(model => model.Salary)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.City.CountryId, "Country")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CountryId", "Select country")
            @Html.ValidationMessageFor(model => model.City.CountryId)
            <span>@Html.ActionLink("or Add new Country", "Create", "Country")</span>
        </div>

        <div class="hidden">
            <div class="editor-label">
                @Html.LabelFor(model => model.CityId, "City")
            </div>
            <div class="editor-field">
                @Html.DropDownList("CityId")
                @Html.ValidationMessageFor(model => model.CityId)
                <span>@Html.ActionLink("or Add new City", "Create", "City")</span>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Street)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Street)
                @Html.ValidationMessageFor(model => model.Street)
            </div>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}