﻿@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees: (@Model.Count())</h2>

@if (Model.Any())
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.Country.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var routeValues = new { id = item.Id };
            <tr>
                <td>
                    @Html.ActionLink(item.Name, DefaultActionNames.Details, routeValues)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.ActionLink("Edit", DefaultActionNames.Edit, routeValues) |
                    @Html.ActionLink("Delete", DefaultActionNames.Delete, routeValues)
                </td>
            </tr>
        }

    </table>
}
else
{
    @Html.Partial("_EmptyResults")
}
