﻿@model IEnumerable<GroupResult>
@{
    var customers = Model; 
}

<div id="@Constants.ItemsListId">

    @Html.Partial("_Pager", customers)

    @foreach (var customer in customers)
    {
        var vehicles = customer.SubGroups;
        
        <h1>Customer: @customer.Key</h1>

        foreach (var vehicle in vehicles)
        {
            @Html.Partial("_VehicleRepairs", vehicle)
        }
    }

    @Html.Partial("_Pager", customers)

</div>