﻿@model GroupResult

@{
    var vehicleName = Model.Key;
    var repairTypes = Model.SubGroups;

    var vehicleId = Model.Items.OfType<Repair>().FirstOrDefault().CustomerVehicleId;
}

<div class="bordered">
    <div class="clear-fix">
        <div class="float-left">
            <h2>Vehicle: @vehicleName</h2>
        </div>
        <div class="float-right">
            <h2>@Html.ActionLink("Add repair", DefaultActionNames.Create, "Repair", new { id = vehicleId }, null)</h2>
        </div>
    </div>

    <hr />

    @foreach (var repairType in repairTypes)
    {
        <h3>Repair type: @repairType.Key</h3>

        <table>
            <tr>
                <th>Employee</th>
                <th>Working hours</th>
                <th>Created on</th>
                <th>Completed On</th>
                <th>Completed</th>
                <th></th>
            </tr>

            @foreach (Repair repair in repairType.Items)
            {
                var routeValues = new { id = repair.Id };
                <tr>
                    <td>
                        @Html.DisplayFor(m => repair.Employee.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => repair.WorkingHours)
                    </td>
                    <td>
                        @Html.DisplayFor(m => repair.StartedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(m => repair.CompletedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(m => repair.IsCompleted)
                    </td>
                    <td>
                        @if (repair.IsCompleted == false)
                        {
                            @Html.ActionLink("Edit", DefaultActionNames.Edit, routeValues)
                        }
                        
                        @Html.ActionLink("Details", DefaultActionNames.Details, routeValues)
                    </td>
                </tr>
            }

        </table>
        <hr />
    }
</div>