﻿@model Repair

@{
    ViewBag.Title = "Create";
    CustomerVehicle customerVehicle = ViewBag.CustomerVehicle;
}

<h2>Create repair: @customerVehicle.Vehicle.Name</h2>
<h2>Customer: @customerVehicle.Customer.Name </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Repair</legend>

        @Html.Hidden("CustomerVehicleId", customerVehicle.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonId, "Employee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PersonId")
            @Html.ValidationMessageFor(model => model.PersonId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RepairTypeId, "RepairType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RepairTypeId")
            @Html.ValidationMessageFor(model => model.RepairTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mileage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mileage)
            @Html.ValidationMessageFor(model => model.Mileage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}