﻿@model Repair

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Repair</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerVehicle.RegistrationNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerVehicle.RegistrationNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RepairType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RepairType.Name)
    </div>
</fieldset>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
    </p>
}
