﻿@model RepairViewModel

@{
    ViewBag.Title = "Details";

    var repair = Model.Repair;
    var order = Model.Order;
    int replacementPartsCount = Model.ReplacementParts.Count;
}

<h2>Details:</h2>

<div class="float-left">

    <h3>
        Vehicle: @repair.CustomerVehicle.Vehicle.Name @repair.CustomerVehicle.RegistrationNumber
    </h3>
    <h3>
        Customer: @repair.CustomerVehicle.Customer.Name
    </h3>
    <h3>
        Employee: @repair.Employee.Name
    </h3>

    <p>
        @Html.DisplayNameFor(model => repair.RepairType.Name) : @Html.DisplayFor(model => repair.RepairType.Name)
    </p>
    <p>
        @Html.DisplayNameFor(model => repair.StartedOn) : @Html.DisplayFor(model => repair.StartedOn)
    </p>
    <p>
        @Html.DisplayNameFor(model => repair.CompletedOn) : @Html.DisplayFor(model => repair.CompletedOn)
    </p>
    <p>
        @Html.DisplayNameFor(model => repair.IsCompleted) : @Html.DisplayFor(model => repair.IsCompleted)
    </p>
    <p>
        @Html.DisplayNameFor(model => repair.Mileage) : @Html.DisplayFor(model => repair.Mileage)
    </p>
    <p>
        @Html.DisplayNameFor(model => repair.Description) : @Html.DisplayFor(model => repair.Description)
    </p>
    <p>
        @Html.DisplayNameFor(model => repair.WorkingHours) : @Html.DisplayFor(model => repair.WorkingHours)
    </p>
    <p>
        @Html.DisplayNameFor(model => repair.RepairType.PricePerHour) : @Html.DisplayFor(model => repair.RepairType.PricePerHour)
    </p>

    @if (repair.LaborPrice > 0)
    {
        <p>
            @Html.DisplayNameFor(model => repair.LaborPrice):
            ( @Html.DisplayFor(model => repair.WorkingHours)h X @Html.DisplayFor(model => repair.RepairType.PricePerHour) )
            <b>@Html.DisplayFor(model => repair.LaborPrice)</b>
        </p>
    }

    @if (replacementPartsCount > 0)
    {
        <div>
            <h3>Repair parts: @replacementPartsCount</h3>

            @foreach (var replacementPart in Model.ReplacementParts)
            {
                var price = (replacementPart.Key.Price * @replacementPart.Value);
                <p>@replacementPart.Key.Name (@replacementPart.Key.Price)  X @replacementPart.Value =  @price</p>
            }

            <p>
                Parts price: <b>@repair.ReplacementPartsSum</b>
            </p>
        </div>
    }
</div>

@if (order != null)
{
    <div class="float-right">
        <h3>
            Order
            @if (order.IsPaid == false)
            {
                @Html.ActionLink("Edit", DefaultActionNames.Edit, "Order", new { id = order.Id }, null)
            }
        </h3>

        <p>
            @Html.DisplayNameFor(model => order.IsPaid) @Html.DisplayFor(model => order.IsPaid)
        </p>
        <p>
            @Html.DisplayNameFor(model => order.PaidOn): @Html.DisplayFor(model => order.PaidOn)
        </p>
        <p>
            @Html.DisplayNameFor(model => order.AdditionalPrice): @Html.DisplayFor(model => order.AdditionalPrice)
        </p>
        <p>
            @Html.DisplayNameFor(model => order.Repair.LaborPrice): @Html.DisplayFor(model => order.Repair.LaborPrice)
        </p>
        <p>
            @Html.DisplayNameFor(model => order.Repair.ReplacementPartsSum): @Html.DisplayFor(model => order.Repair.ReplacementPartsSum)
        </p>
        <p>
            <b>@Html.DisplayNameFor(model => order.TotalPrice): @Html.DisplayFor(model => order.TotalPrice)</b>
        </p>
    </div>
}