﻿@model Repair

@{
    ViewBag.Title = "Edit";
}

@Html.Partial("_Heading")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <legend>Repair</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CustomerVehicleId)
        @Html.HiddenFor(model => model.StartedOn)

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonId, "Employee")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PersonId")
            @Html.ValidationMessageFor(model => model.PersonId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RepairTypeId, "RepairType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RepairTypeId")
            @Html.ValidationMessageFor(model => model.RepairTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsCompleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsCompleted)
            @Html.ValidationMessageFor(model => model.IsCompleted)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkingHours)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.WorkingHours)
            @Html.ValidationMessageFor(model => model.WorkingHours)
        </div>

        @* NOT READY TODO *@
         <div class="editor-label">
            @Html.LabelFor(model => model.ReplacementPartIds)
        </div>
        <div class="editor-field">
            @Html.ListBox("ReplacementPartIds")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mileage)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Mileage)
            @Html.ValidationMessageFor(model => model.Mileage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}