﻿@model CustomerVehicle

<div>
    <p>
        @Html.DisplayNameFor(model => model.Vehicle.Name): @Html.DisplayFor(model => model.Vehicle.Name)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.RegistrationNumber): @Html.DisplayFor(model => model.RegistrationNumber)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.VIN): @Html.DisplayFor(model => model.VIN)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Color.Name): @Html.DisplayFor(model => model.Color.Name)
    </p>
</div>