﻿@model CustomerVehicle

@{
    ViewBag.Title = "Edit vehicle";
}

@Html.Partial("_Heading")

<h2>
    Customer: @Html.DisplayFor(model => model.Customer.Name)  (@Model.Customer.Phone)
</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Hidden("PersonId", Model.Customer.Id)

    <fieldset>
        <legend>CustomerVehicle</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vehicle.VehicleManufacturer.Name, "VehicleManufacturer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VehicleManufacturerId")
            @Html.ValidationMessageFor(model => model.Vehicle.VehicleManufacturer.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VehicleId, "Vehicle")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VehicleId")
            @Html.ValidationMessageFor(model => model.VehicleId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ColorId, "Color")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ColorId")
            @Html.ValidationMessageFor(model => model.ColorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegistrationNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegistrationNumber)
            @Html.ValidationMessageFor(model => model.RegistrationNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VIN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VIN)
            @Html.ValidationMessageFor(model => model.VIN)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}