﻿@model Vehicle

<div>
    <p>
        @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.VehicleModel): @Html.DisplayFor(model => model.VehicleModel)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Modifination): @Html.DisplayFor(model => model.Modifination)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Body): @Html.DisplayFor(model => model.Body)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Fuel) : @Html.DisplayFor(model => model.Fuel)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.EngineName): @Html.DisplayFor(model => model.EngineName)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.EngineType):  @Html.DisplayFor(model => model.EngineType)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Transmission):  @Html.DisplayFor(model => model.Transmission)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Year):  @Html.DisplayFor(model => model.Year)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.VehicleManufacturer.Name):  @Html.DisplayFor(model => model.VehicleManufacturer.Name)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.VehicleType.Name):  @Html.DisplayFor(model => model.VehicleType.Name)
    </p>
</div>