﻿@model Vehicle

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (Model != null)
    {
        @Html.HiddenFor(model => model.Id)
    }

    <fieldset>
        <legend>Vehicle</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.VehicleManufacturerId, "VehicleManufacturer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VehicleManufacturerId")
            @Html.ValidationMessageFor(model => model.VehicleManufacturerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VehicleTypeId, "VehicleType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VehicleTypeId")
            @Html.ValidationMessageFor(model => model.VehicleTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VehicleModel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VehicleModel)
            @Html.ValidationMessageFor(model => model.VehicleModel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Modifination)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modifination)
            @Html.ValidationMessageFor(model => model.Modifination)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fuel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fuel)
            @Html.ValidationMessageFor(model => model.Fuel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EngineName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EngineName)
            @Html.ValidationMessageFor(model => model.EngineName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EngineType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EngineType)
            @Html.ValidationMessageFor(model => model.EngineType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Transmission)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Transmission)
            @Html.ValidationMessageFor(model => model.Transmission)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}