﻿@model IEnumerable<Vehicle>

@{
    ViewBag.Title = "Vehicles";
}

<h2>@ViewBag.Title: (@Model.Count())</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleManufacturer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transmission)
        </th>
    </tr>

    @foreach (var vehicle in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(vehicle.Name, DefaultActionNames.Details, new { id = vehicle.Id })
            </td>
            <td>
                @Html.ActionLink(vehicle.VehicleManufacturer.Name, DefaultActionNames.Details, "VehicleManufacturer", new { id = vehicle.VehicleManufacturer.Id }, null)
            </td>
            <td>
                @Html.ActionLink(vehicle.VehicleType.Name, DefaultActionNames.Details, "VehicleType", new { id = vehicle.VehicleType.Id, manufacturerId = vehicle.VehicleManufacturerId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => vehicle.EngineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => vehicle.EngineType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => vehicle.Transmission)
            </td>
        </tr>
    }

</table>