﻿@model VehicleTypeViewModel

@{
    ViewBag.Title = "Details";
    int vehiclesCount = Model.GroupedVehicles.ToList().Sum(x => x.Count());
}

<h2>
    @Html.DisplayNameFor(model => model.VehicleTypeName): @Html.DisplayFor(model => model.VehicleTypeName)
</h2>

<h3>Vehicles: @vehiclesCount</h3>

@if (@vehiclesCount > 0)
{
    foreach (var vehicles in Model.GroupedVehicles)
    {
        <h3>Manufacturer: @vehicles.Key</h3>
        foreach (var item in @vehicles)
        {
            <p>@Html.ActionLink(item.Name, DefaultActionNames.Details, "Vehicle", new { id = item.Id }, null)</p>
        }
    }
}