﻿@model IEnumerable<VehicleType>

@{
    ViewBag.Title = "Vehicle types";
}

<h2>@ViewBag.Title: (@Model.Count())</h2>

@if (Model.Any())
{
    foreach (var entity in Model)
    {
        string formatedName = String.Format("{0} ({1})", entity.Name, entity.Vehicles.Count);  
        <p>@Html.ActionLink(formatedName, DefaultActionNames.Details, new { id = entity.Id }, null)</p>
    }
}
else
{
    @Html.Partial("_EmptyResults")
}