﻿@model IEnumerable<Vehicle>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </th>
        <th></th>
    </tr>

    @foreach (var vehicle in Model)
    {
        var routeValues = new { id = vehicle.Id };
        string vehicleControllerName = "Vehicle";
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => vehicle.Name)
            </td>
            <td>
                @Html.ActionLink(vehicle.VehicleType.Name, DefaultActionNames.Details, "VehicleType", new { id = vehicle.VehicleType.Id, manufacturerId = vehicle.VehicleManufacturerId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => vehicle.VehicleModel)
            </td>
            <td>
                @Html.ActionLink("Edit", DefaultActionNames.Edit, vehicleControllerName, routeValues, null) |
                @Html.ActionLink("Details", DefaultActionNames.Details, vehicleControllerName, routeValues, null) |
                @Html.ActionLink("Delete", DefaultActionNames.Delete, vehicleControllerName, routeValues, null)
            </td>
        </tr>
    }

</table>