﻿@model VehicleManufacturer

@{
    ViewBag.Title = "Delete";
}

@Html.Partial("_Heading")
@Html.Partial("_DeleteConfirmationMessage")

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Country.Name): @Html.DisplayFor(model => model.Country.Name)</p>

@Html.Partial("_DeleteForm")