﻿@model VehicleManufacturer

@{
    ViewBag.Title = "Details";
    int vehiclesCount = Model.Vehicles.Count();
}

<h2>
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) <br />
    @Html.DisplayNameFor(model => model.Country.Name): @Html.DisplayFor(model => model.Country.Name)
</h2>

<hr />

<h3>Vehicles: (@vehiclesCount)</h3>

@if(@vehiclesCount > 0)
{
    @Html.Partial("_Vehicles", Model.Vehicles)
}