﻿@model IEnumerable<IGrouping<string, VehicleManufacturer>>

@{
    ViewBag.Title = "Manufacturers";
    int manufacturersCount = Model.Sum(x => x.Count());
}

<h2>@ViewBag.Title: (@manufacturersCount)</h2>

@if (Model.Any())
{
    foreach (var group in Model)
    {
        <h3>@group.Key </h3>
        foreach (var item in @group)
        {
            string formatedName = String.Format("{0} ({1})", item.Name, item.Vehicles.Count);  
            <p>@Html.ActionLink(formatedName, DefaultActionNames.Details, new { id = item.Id })</p>
        }
    }
}
else
{
    @Html.Partial("_EmptyResults")
}