﻿@model IPagedList<City>

<div id="@Constants.ItemsListId">

    <h2>Cities: (@Model.TotalItemCount)</h2>

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Country.Name)
            </th>
        </tr>

        @foreach (var entity in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(entity.Name, DefaultActionNames.Edit, new { id = entity.Id }, null)
                </td>
                <td>
                    @entity.Country.Name
                </td>
            </tr>
        }

    </table>

    @Html.Partial("_Pager", Model)
</div>
