﻿@{
    ViewBag.Title = "Management";
}

<h2>Management</h2>

<div>
    <p>@Html.ActionLink("Cities", "Index", "City")</p>
    <p>@Html.ActionLink("Colors", "Index", "Color")</p>
    <p>@Html.ActionLink("Countries", "Index", "Country")</p>
    <p>@Html.ActionLink("Customers", "Index", "Customer")</p>
    <p>CustomersVehicles k</p>
    <p>@Html.ActionLink("Employees", "Index", "Employee")</p>
    <p>@Html.ActionLink("Repairs", "Index", "Repair")</p>
    <p>@Html.ActionLink("Repair Types", "Index", "RepairType")</p>
    <p>@Html.ActionLink("Vehicles", "Index", "Vehicle")</p>
    <p>@Html.ActionLink("Vehicle Manufacturers", "Index", "VehicleManufacturer")</p>
    <p>@Html.ActionLink("VehicleTypes", "Index", "VehicleType")</p>
    <p>@Html.ActionLink("Orders", "Index", "Order")</p>
    <hr/>

    <p>@Html.ActionLink("ReplacementPart Categories", "Index", "ReplacementPartCategory")</p>
    <p>@Html.ActionLink("ReplacementPart Manufacturer", "Index", "ReplacementPartManufacturer")</p>
    <p>@Html.ActionLink("Replacement Parts", "Index", "ReplacementPart")</p>
    
</div>