﻿@model Customer
@{
    int repairsCount = Model.CustomerVehicles.Sum(x => x.Repairs.Count);
    int customerVehiclesCount = Model.CustomerVehicles.Count;
    var routeValues = new { id = Model.Id };
    string formatedName = Model.Name;
}

<tr>
    <td>
        @if (customerVehiclesCount > 0)
        {
            formatedName = String.Format("{0} ({1})", formatedName, customerVehiclesCount);            
        }
        @Html.ActionLink(formatedName, DefaultActionNames.Details, routeValues)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Company)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.City.Country.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.City.Name)
    </td>
    <td>
        @Html.ActionLink("Add Vehicle", DefaultActionNames.Create, "CustomerVehicle", routeValues, null)

        @if (repairsCount > 0)
        {
            var formatedRepairsName = String.Format("Repairs ({0})", repairsCount);
            @Html.ActionLink(formatedRepairsName, DefaultActionNames.Index, "Repair", routeValues, null)
        }
    </td>
</tr>