﻿@model IEnumerable<CustomerVehicle>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
    </tr>
    @foreach (var entity in Model)
    {
        var routeValues = new { id = entity.Id };

        <tr>
            <td>
                @Html.ActionLink(entity.Vehicle.Name, DefaultActionNames.Details, "Vehicle", new { id = entity.VehicleId }, null)
            </td>
            <td>
                @entity.Color.Name
            </td>
            <td>
                @entity.RegistrationNumber
            </td>
            <td>
                @entity.VIN
            </td>
            <td>
                @Html.ActionLink("Details", DefaultActionNames.Details, "CustomerVehicle", routeValues, null) |
                @Html.ActionLink("Edit", DefaultActionNames.Edit, "CustomerVehicle", routeValues, null) |
                @Html.ActionLink("Delete", DefaultActionNames.Delete, "CustomerVehicle", routeValues, null) |
                @Html.ActionLink("Add Repair", DefaultActionNames.Create, "Repair", routeValues, null)
                @if (entity.Repairs.Count > 0)
                {
                    var formatedRepairsText = String.Format("Repairs ({0})",  entity.Repairs.Count);
                    @Html.ActionLink(formatedRepairsText, "Vehicle", "Repair", routeValues, null)
                }
            </td>
        </tr>
    }

</table>