﻿@model Customer

@{
    int vehiclesCount = Model.CustomerVehicles.Count();
}

<div>
    <p>
        @Html.DisplayNameFor(model => model.FirstName): @Html.DisplayFor(model => model.FirstName)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.LastName): @Html.DisplayFor(model => model.LastName)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Company): @Html.DisplayFor(model => model.Company)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.City.Country.Name) : @Html.DisplayFor(model => model.City.Country.Name)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.City.Name): @Html.DisplayFor(model => model.City.Name)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Street):  @Html.DisplayFor(model => model.Street)
    </p>
</div>

<h3>Customer vehicles: @vehiclesCount</h3>

@if (@vehiclesCount > 0)
{
    @Html.Partial("_CustomerVehicles", Model.CustomerVehicles)
}