﻿@model IPagedList<Customer>

<div id="@Constants.ItemsListId">

    <h2>Customers: (@Model.TotalItemCount)</h2>

    @if (Model.Any())
    {
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().City.Country.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().City.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var customer in Model)
            {
                @Html.Partial("_CustomerRow", customer)
            }

        </table>

        @Html.Partial("_Pager", Model)
    }
    else
    {
        @Html.Partial("_EmptyResults")
    }
</div>